body, html {
    height: 100%;
}

/* .nav {color: #000033; background-color: #D3D3D3; background-position: right; line-height: 400%; text-indent: 1em; }
*/

.navbar { 
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255,255,255,0.4);
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    transition: 0.5s background-color;
}
.navbar-right {text-align:right; }
.navbar-scrolled { background-color: rgba(255,255,255,0.8); }

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("Assets/totnes-transition-town-the-happy-beast.jpg");

    /* Set a specific height */
    height: 80%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text{
    padding: 10px; 
    position:absolute;
    top: 350px;
    right: 20px;
    height: 100px;
    width: 500px;
    background:rgba(255,255,255,0.8);
    text-align: left;

    font-size: 20px;
    font-weight: 250;
    color: black;
    
}
.background-image{
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height:auto;
}
.col-5{
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:auto;

}
/*
#events .btn-see-all-events {
    vertical-align: super;
    background-image: linear-gradient(to bottom, rgb 143,213,228);
    transition : background-color 0.5s ease 0s;
   /* background-color: #8FD5E4;
color: white;*/


.btn-see-all-events {
   border-top: 1px solid #96d1f8;
   background: #8FD5E4;
   /*background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#8fd4e4));
   background: -webkit-linear-gradient(top, #3e779d, #8fd4e4);
   background: -moz-linear-gradient(top, #3e779d, #8fd4e4);
   background: -ms-linear-gradient(top, #3e779d, #8fd4e4);
   background: -o-linear-gradient(top, #3e779d, #8fd4e4); */
    margin-left: 5px;
   padding: 10px 15px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-family: "Open sans", serif;
   text-decoration: none;
   vertical-align: super;
   }
.btn-see-all-events:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: white;
   }
.btn-see-all-events:active {
   border-top-color: #1b435e;
   background: #1b435e;
    
   }
.card-title{
    padding: 10px; 
    position:absolute;
    top: 0;
    right: 0;
    height: 90px;
    width: 80px;
    background: #8FD5E4;
    text-align: center;
    color: white;
    font-weight: 300;
    
}
footer { 
    color: rgb(245,245,245); 
    background-color: rgb(128, 128, 128); 
    padding: 40px 0;
    font-size: 90%;
}

footer a {
    color: #8FD5E4;
}

footer a:hover {
    color: #28597a;
}
footer a:active {
    color: lightgray;
}

footer .larger-footer-links {
    margin-bottom: 1.5rem;
}
footer .larger-footer-links a {
    font-size: 150%;
}

font {font-family:"Open Sans", sans-serif; }
h1 {font-family:"Libre Baskerville", serif; 
}
h2 {color: #000033; 
    font-family:"Libre Baskerville", serif; 
    display: inline-block;
    margin-right: 30px;
}
h3 {color: #000033; font-family:"Libre Baskerville", sans-serif; }

h4 {color: #000033; font-family:"Libre Baskerville", sans-serif; }

.nav-link {
    color: #8fd4e4;
    text-shadow: rgba(0,0,0,.2) 0 1px 0;
}
.nav-link a:hover {
    color: #28597a;
}
.nav-link a:active {
    color: #28597a;
}
.section-heading {
    padding-top: 10px;
    font-family:"Libre Baskerville", serif;
    font-size: 60px;
}
.sub-heading {
    padding-top: 20px;
    padding-right: 3px;
    font-family:"Libre Baskerville", serif; 
    font-size: 30px;
    display: inline-block;
}
.sub-heading2 {
    padding-top: 20px;
    padding-right: 3px;
    font-family:"Libre Baskerville", serif; 
    font-size: 25px;
    display: inline-block;
}

.btn { 
    display: inline-block;
    vertical-align: bottom;

}

form {font-family:"Open Sans", sans-serif; color: darkgray; }

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

    .container {
        padding-left:10px; padding-right:10px; }
    .card-deck-wrapper {
        margin-right:0; margin-left:0; 
    }

    /*	.card-deck {
    display: block;
    width: 100%;
    margin-bottom: .75rem;
    table-layout: fixed;
    border-spacing: 1.25rem 0;
}

    .card-deck .card {
    display: block;
    margin-bottom: .75rem;
    vertical-align: top;
}

    .card-deck .card:not(:first-child) {
    margin-left: 0px;
}
    */
}

.jumbotron {
    background-image:url('Assets/planting.jpg');
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron .container {
    position:relative;
    top:50px;
    min-height: 600px}